<!DOCTYPE HTML>
<html>
<head>
  <title>flaskenv</title>
</head>
<body>
  <table>
    <tr>
      <th>Key</th><th>Value</th>
      {% for key, value in environ.items() %}
      <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
      {% endfor %}
    </tr>
  </table>
</body>
</html>
